---
import Layout from "../layouts/Layout.astro";
import Example from "../components/Example.astro";
import {
  random,
  randomDecimal,
  randomInt,
  randomPercent,
  randomChance,
  randomDegree,
  randomItemInArray,
  randomHsl,
  randomHue,
  randomLightness,
  randomSaturation,
  randomAlpha,
  setRandomPrecision,
  setSeed,
} from "../../lib/index.js";
import { Code } from "astro/components";

// setRandomPrecision(5);
// setSeed(5);

const colorDisplayFunction = (value: string) =>
  `<div style="background-color: ${value}; padding: 2em;">
    <div style="background: #fffe; padding: 0.5em;">${value}</div>
  </div>
`;
---

<Layout title="Randomness Helpers">
  <h1>Randomness Helpers</h1>

  <p>
    A collection of helper functions to make it easy to generate random values
    for generative art, games, and more.
  </p>

  <!-- 
  <h2>Examples</h2>

  <div class="example-group">
    <Example
      callbackFunction={() => {
        const starSize = random(5, 10);
        const star = `<circle cx="50" cy="50" r="${starSize}" fill="${random.hsl(
          { h: [0, 100], s: [80, 100], l: [50, 80] }
        )}" />`;
        const planets = [];

        for (
          let distance = starSize + 5;
          distance < 40;
          distance += random(5, 10)
        ) {
          const orbit = `<circle cx="50" cy="50" fill="none" stroke="#ccc" r="${distance}"/>`;
          const planet = `<circle 
            cx="50" 
            cy="${50 + distance}" 
            fill="${random.hsl({ s: [80, 100], l: [60, 90] })}"  
            r="${random(2, 4)}"
          />`;
          planets.push(`
            <g style="transform-origin: center; rotate: ${random.degree()}deg;">
              ${orbit}
              ${planet}
            </g>
          `);
        }
        return `
        <svg viewBox="0 0 100 100" width="300" height="300" style="background: #000">
          ${star}
          ${planets.join("\n")}
        </svg>
      `;
      }}
      
      prefixedCode={startupCode}
    />
  </div> -->

  <h2>Getting Started</h2>

  <p>You can install the library from npm:</p>

  <Code lang="bash" code="npm i randomness-helpers" />

  <h2>Number Helpers</h2>

  <p>
    The library has a number of helper methods for generating different types of
    numbers, colors, geometric values, and more. For example, here are a few
    common random number helpers:
  </p>

  <div class="example-group">
    <Example
      callbackFunction={() => random(5, 20)}
      codeExample={`import { random } from 'randomness-helpers';
random(5, 20);`}
    />
    <Example
      callbackFunction={() => randomInt(0, 100)}
      codeExample={`import { randomInt } from 'randomness-helpers';
randomInt();`}
    />

    <Example
      callbackFunction={() => randomDecimal()}
      codeExample={`import { randomDecimal } from 'randomness-helpers';
randomDecimal();`}
    />

    <Example
      callbackFunction={() => randomPercent()}
      codeExample={`import { randomPercent } from 'randomness-helpers';
randomPercent();`}
    />
  </div>

  <!-- <h2>Seeded Randomness</h2>

  <p>
    By default, the helper methods rely on <code>Math.random</code>. If you
    would prefer to use seeded random values there is a separate export for
    that. These functions are slightly slower, but ensure that each time you run
    a series of random operations with the same seed, they'll return the same
    values.
  </p>

  <p>TODO: Explain why this is helpful. Explain it can be slower.</p>

  <p>
    You'll need to call the <code>seed</code> function with your chosen seed to initialize
    the random number generator. From there you can use it the same way as the non-seeded
    helpers.
  </p>

  <Code
    lang="js"
    code={`import { seed } from 'randomness-helpers';

const random = seed(123);

random(0, 100);`}
  /> -->

  <h2>Chance</h2>

  <p>There are a few helpers for common randomness operations.</p>

  <p>
    <code>chance</code> returns either true or false. By default, it has a 50% chance
    of being <code>true</code> but you can pass in an optional likelihood variable.
  </p>

  <div class="example-group">
    <Example
      codeExample={`import { randomChance } from 'randomness-helpers';
      
// A 50% chance of "heads"
randomChance() ? "heads" : "tails";`}
      callbackFunction={() => (randomChance() ? "heads" : "tails")}
    />
    <Example
      codeExample={`import { randomChance } from 'randomness-helpers';
      
// A 75% chance of "cloudy"
randomChance(0.75) ? "cloudy" : "meatballs";`}
      callbackFunction={() => (randomChance(0.75) ? "cloudy" : "meatballs")}
    />
  </div>

  <p>You can also easily get a random item from an array:</p>

  <Example
    codeExample={`import { randomItemInArray } from 'randomness-helpers';
randomItemInArray(['The Good', 'The Bad', 'The Ugly'])`}
    callbackFunction={() =>
      randomItemInArray(["The Good", "The Bad", "The Ugly"])}
  />

  <h2>Colors</h2>

  <p>There are also helpers to generate random HSL colors.</p>

  <p>
    You can generate a completely random color, or pass in an object with
    optional <code>h</code>, <code>s</code>, <code>l</code>, and <code>a</code> properties.
    (For hue, saturation, lightness, and alpha (transparency.))
  </p>
  <p>
    Each property should either be an exact value, or an array with
    <code>[min, max]</code>
    values.
  </p>

  <div class="example-group">
    <Example
      callbackFunction={() => colorDisplayFunction(randomHsl())}
      codeExample={`import { randomHsl } from 'randomness-helpers';
randomHsl();`}
    />

    <Example
      callbackFunction={() => colorDisplayFunction(randomHsl({ h: [0, 60] }))}
      codeExample={`import { randomHsl } from 'randomness-helpers';
randomHsl({ h: [0, 60] });`}
    />

    <Example
      callbackFunction={() =>
        colorDisplayFunction(randomHsl({ s: [40, 60], l: 75 }))}
      codeExample={`import { randomHsl } from 'randomness-helpers';
randomHsl({ s: [40, 60], l: 75 });`}
    />
  </div>

  <p>
    You can also generate individual <code>hue</code>, <code>saturation</code>,
    and <code>lightness</code> values:
  </p>

  <div class="example-group">
    <Example
      callbackFunction={() => randomHue()}
      codeExample={`import { randomHue } from 'randomness-helpers';
randomHue();`}
    />
    <Example
      callbackFunction={() => randomSaturation()}
      codeExample={`import { randomSaturation } from 'randomness-helpers';
randomSaturation();`}
    />
    <Example
      callbackFunction={() => randomLightness()}
      codeExample={`import { randomLightness } from 'randomness-helpers';
randomLightness();`}
    />
    <Example
      callbackFunction={() => randomAlpha()}
      codeExample={`import { randomAlpha } from 'randomness-helpers';
randomAlpha();`}
    />
  </div>

  <h2>Geometry</h2>

  <div class="example-group">
    <Example
      codeExample={`import { randomDegree } from 'randomness-helpers';
randomDegree();`}
      callbackFunction={() => {
        const value = randomDegree();
        return `${value}:
        
        <svg style="rotate: ${value}deg; overflow: visible;" viewBox="0 0 100 100" width="100" height="100">
          <circle fill="#fff6" stroke="#000" r="49" cx="50" cy="50" />
          <circle fill="#000" r="10" cx="50" cy="50" />
          <circle fill="#000" r="5" cx="50" cy="1" />
          <line fill="none" stroke="#000" x1="50" y1="50" x2="50" y2="1" />
        </svg>
      `;
      }}
    />
  </div>

  <style is:global>
    *,
    *:before,
    *:after {
      margin: 0;
      line-height: 1.4;
      box-sizing: border-box;
    }

    html {
      --hue: 240;
      font-size: clamp(1em, calc(0.8em + 0.5vw), 1.25em);
      font-family: sans-serif;
    }

    body {
      color: hsl(var(--hue), 80%, 5%);
      background-color: hsl(var(--hue), 10%, 98%);

      max-width: 80ch;
      margin: 0 auto;
      padding: 4em 1em;
    }

    p {
      max-width: 70ch;
    }

    body > * + * {
      margin-top: 1.25em;
    }

    body > * + :is(h1, h2, h3, h4, h5, h6) {
      margin-top: 1.5em;
    }

    :is(h1, h2, h3, h4, h5, h6) {
      color: hsl(var(--hue), 100%, 10%);
    }

    .example-group {
      display: flex;
      gap: 0.75em;
      flex-wrap: wrap;
    }

    .example-group > * {
      flex-grow: 1;
    }

    :not(pre) > code {
      color: hsl(var(--hue), 100%, 15%);
      background-color: hsl(var(--hue), 50%, 97%);
      border: 1px solid hsl(var(--hue), 50%, 85%);
      padding: 0.08em 0.2em;
      border-radius: 0.25em;
    }

    pre.astro-code {
      background-color: hsl(var(--hue), 20%, 10%) !important;
      line-height: 1.5;
      padding: 1em;
      border-radius: 0.25em;
    }

    output {
      display: block;
      background-color: hsl(var(--hue), 10%, 90%);
      padding: 1em;
      border-bottom-right-radius: 0.25em;
      border-bottom-left-radius: 0.25em;
    }

    .example .astro-code {
      margin-bottom: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  </style>
</Layout>
